<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>All codes!</h1>
  <%- include("partials/errors.ejs") %>
  <ul>
    <% if (locals.allCodes && locals.linkStart) {%>
        <% locals.allCodes.map((code) => { %>
            <li><%= code.folder.name %> : <a target="_blank" href=<%=`${linkStart}${code.code}` %>><%= linkStart %><%= code.code %></a></li>
        <% }) %>
    <%  } %>
    </ul>
</body>
</html>